<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Мои сделки"}  %}
	</head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            view:"navbar_enter",
            navbar_prefix:"navbar__"
        } %}

        <main class="content-block__panel  is--bg-dark">
            {% include "../block/page/deal.twig" with {
                view:"deal_page", 
                content_prefix:"content-block__", 
                content_mod:"is--page-deal", 
                heading_mod:"is--h2  fw--700  is--page-deal",  
                heading_level:"h1", 
                heading:"Мои сделки", 
                bread_mod:"",
                bread:[
                    {name:"Главная", link:page.index},
                    {name:"Мои сделки"}
                ],
                list:[
                    {
                        link:page.deal_card,
                        id:"РАС-622532", 
                        num:"АХ_ЭЛ/Влд-91286/ДЛ",
                        status:"Подписание<br> клиентом",
                        date:"21.02.2020",
                        model:"ГАЗ-A31 NEXT",
                        cost:"2 000 690 ₽",
                        paid:"0 ₽",
                    },
                    {
                        link:"#",
                        id:"РАС-622532", 
                        num:"АХ_ЭЛ/Влд-91286/ДЛ",
                        status:"Подписание<br> клиентом",
                        date:"21.02.2020",
                        model:"ГАЗ-A31 NEXT",
                        cost:"2 000 690 ₽",
                        paid:"0 ₽",
                    },
                    {
                        link:"#",
                        id:"РАС-622532", 
                        num:"АХ_ЭЛ/Влд-91286/ДЛ",
                        status:"Подписание<br> клиентом",
                        date:"21.02.2020",
                        model:"ГАЗ-A31 NEXT",
                        cost:"2 000 690 ₽",
                        paid:"0 ₽",
                    },
                    {
                        link:"#",
                        id:"РАС-622532", 
                        num:"АХ_ЭЛ/Влд-91286/ДЛ",
                        status:"Подписание<br> клиентом",
                        date:"21.02.2020",
                        model:"ГАЗ-A31 NEXT",
                        cost:"2 000 690 ₽",
                        paid:"0 ₽",
                    },
                    {
                        link:"#",
                        id:"РАС-622532", 
                        num:"АХ_ЭЛ/Влд-91286/ДЛ",
                        status:"Подписание<br> клиентом",
                        date:"21.02.2020",
                        model:"ГАЗ-A31 NEXT",
                        cost:"2 000 690 ₽",
                        paid:"0 ₽",
                    },
                ], 
            } %}
        </main>

    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
