<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Детали сделки ГАЗ-A31 NEXT"}  %}
	</head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            view:"navbar_enter",
            navbar_prefix:"navbar__"
        } %}

        <main class="content-block__panel  is--bg-dark">
            {% include "../block/page/deal.twig" with {
                view:"deal_card", 
                view_elem:"deal_card_payment", 
                page_active: page.deal_card_payment,
                content_prefix:"content-block__", 
                content_mod:"is--page-deal-card", 
                heading_mod:"is--h2  fw--700  is--page-deal-card",  
                heading_level:"h1", 
                heading:"Детали сделки ГАЗ-A31 NEXT", 
                bread_mod:"",
                bread:[
                    {name:"Главная", link:page.index},
                    {name:"Мои сделки", link:page.deal},
                    {name:"РАС-634009"}
                ],
                list:[
                    {
                        name:"Текущий лизинговый платеж",
                        cost:"109 361,00 ₽",
                        date:"16.03.2020",
                    },
                    {
                        name:"Просроченные платежи",
                        cost:"-109 361,00 ₽",
                        date:"16.03.2020",
                    },
                    {
                        name:"Пени по платежам",
                        cost:"0,00 ₽",
                        date:"-",
                    },
                ], 
                schedule:[
                    {
                        date:"01.11.2019",
                        cost:"10 937,00 ₽",
                        nds:"1 822,00 ₽",
                        name:"Лизинговый платеж",
                    },
                    {
                        date:"01.11.2019",
                        cost:"10 937,00 ₽",
                        nds:"1 822,00 ₽",
                        name:"Лизинговый платеж",
                    },
                    {
                        date:"01.11.2019",
                        cost:"10 937,00 ₽",
                        nds:"1 822,00 ₽",
                        name:"Лизинговый платеж",
                    },
                ], 
                history:[
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"Лизинговый платеж",
                    },
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"Лизинговый платеж",
                    },
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"КАСКО",
                    },
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"Лизинговый платеж",
                    },
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"КАСКО",
                    },
                    {
                        cel1:"17.02.2020",
                        cel2:"16.01.2020",
                        cel3:"109 361,00",
                        cel4:"1 557,00",
                        cel5:"0,00",
                        cel6:"0,00",
                        cel7:"Расчетный счет",
                        cel8:"Лизинговый платеж",
                    },
                ], 
            } %}
        </main>

    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
