.question__{
	&icon{
		display: inline-block;
		min-width: 24px;
		width: 24px;
		height: 24px;
		font-size: 14px;
		line-height: 26px;
		border: 1px solid @custom;
		color: @custom;
		border-radius: 50%;
		text-align: center;
		transition: @trs-site;
		&:hover{	
			color: @success;
			border-color: @success;
			cursor: pointer;

		}	
	}
}