.modal-open {
	overflow: hidden; 
}
.modal__ {
	&block{
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		-webkit-overflow-scrolling: touch;
		outline: 0;		
		.modal-open &{
			overflow-x: hidden;
			overflow-y: auto;
			.media-breakpoint-up(@md; {
				overflow-y: hidden;
			});
		}		
		//display: block;
		//opacity: 1;
		//background: @black;
	}
	&dialog {
		position: relative;
		transition: all 0.5s;
		display: flex;
		width: 100%;	
		max-height: 100%;
		margin: 0px auto;
		max-width: @modal_width + 30px;
		top: 50%;
		left: -100%;
		transform: translateY(-50%);
		padding: 20px 15px;	
		.modal__block.in &{
			left: 0;
			top: 50%;
		}
		.media-breakpoint-up(@md; {	
			top: 0%;	
			left: inherit;
			.modal__block.in &{
				left: inherit;
			}
		});
	}
	&body {
		position: relative;
		background-color: @white;
		overflow: auto;
		width: 100%;
    	max-height: 100%;
    	padding: 30px 15px;
		.media-breakpoint-up(@md; {
			padding: 57px;
		});
	}
	&content{}
	&heading{
		&.is--modal-result{
			margin-bottom: 15px;
			.media-breakpoint-up(@md; {
				margin-bottom: 20px;
			});
		}
	}
	&note{
		font-weight: 100;
		font-size: 1em;
		line-height: 1.667em;
		color: @black;
		&.is--modal-result{	
			text-align: center;
			margin-bottom: 20px;
			.media-breakpoint-up(@md; {
				margin-bottom: 35px;		
				max-width: 295px;
				margin-left: auto;
				margin-right: auto;
			});
		}
	}
	&preview{		
		&.is--modal-result{	
			img{		
				margin-left: auto;
				margin-right: auto;
			}
			.media-breakpoint-down(@md; {
				img{
					width: 70%;
				}
			});
		}
	}
	&btn-close{
		.btn-clearfix();
	    position: absolute;
	    z-index: 5; 
		top: 11px;
    	right: 3px;
	   	color: @modal_btn_color;
		width: @modal_btn_width;
		height: @modal_btn_width;
		padding: 13px;
		svg{display: block;}
	   	transition: @trs-site;  	 
		&:hover{
			color: @modal_btn_color_hover;
		}
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: -1px;
	left: 0;
	z-index: 940;
	background-color: @modal_backdrop;
	&.fade { 
		opacity: 0;
	}
	&.in {
		opacity: @modal_backdrop_fade;
	}
}