.page-header__{
	&panel{
	}
	&heading{
		&.is--index{
			&-header{
				font-size: 1.5em;
    			line-height: 1em;
    			margin-bottom: 30px;
    			.media-breakpoint-up(@lg; {
					font-size: 3.1em;
    				margin-bottom: 40px;
    			});
			}
		}
		&.is--block{
			&-calc{
				margin-bottom: 50px; 
				.media-breakpoint-up(@lg; {
					margin-bottom: 5.2vw;
				});
			}
			&-deal{
				margin-bottom: 30px; 
				.media-breakpoint-up(@lg; {
					margin-bottom: 50px;
				});
			}
		}
		&.is--page{
			&-signin{
				margin-bottom: 17px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 28px;
				});
			}
			&-signup{
				margin-bottom: 17px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 30px;
				});
			}
			&-signup-sm{
				font-size: 1em;
				line-height: 1em;
				margin-bottom: 10px;
				&:nth-of-type(2){
					margin-bottom: 0;
				}
				.media-breakpoint-up(@md; {
					font-size: 1.33em;
					margin-bottom: 0;
					&:nth-of-type(2){
						margin-bottom: 8px;
					}
				});
			}
			&-profile{
				margin-bottom: 35px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 55px;
				});
			}
			&-faq{
				margin-bottom: 35px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 3vw;
				});
			}
			&-deal{
				margin-bottom: 35px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 40px;
				});
			}
			&-calc{
				margin-bottom: 27px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 70px;
				});
			}
			&-calc-add{
    			margin-bottom: 30px;
			}
		}
		&.is--form{
			&-signin{
				text-align: center;
				margin-bottom: 35px;
				font-size: 1.5em;
    			line-height: 1.34em;
    			.media-breakpoint-up(@lg; {
    				font-size: 1.33em;
    			});
			}
		}
	}
}