@maket: url(/img/maket/faq.jpg) no-repeat center 0px;
@maket: url(/img/maket/faq-xs.jpg) no-repeat center 0px;
//@maket: url(/img/maket/index-full-xs.jpg) no-repeat center 0px;
//@maket: url(/img/maket/deal-xs.jpg) no-repeat center 0px;
@opacity: 0.7;
//@opacity: 0.4;
//@opacity: 0.8;
html{ 
	//background: @maket;
	//opacity: @opacity;

	//background-position: center -36px;
	//background-position: center -56px;
	//background-position: 574px 288px;
} 