.tabs__{ 
	@gutter_xs: 11px;
	@gutter: 0.5vw;
	@gutter_d: 1.6vw;
	&panel{
	}
	&row{
	}	
	&controls{
		&{
		}
		&-btn{
			
		}
	}
	&nav{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0px;
		margin: 0px;
		margin-top: -5px;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		font-weight: 100;
		font-size: 0.88em;
		line-height: 1em;
		text-align: center;
		&.is--profile{

		}
		
	}
	&item{	
		padding-top: 5px;	
		&.is--profile{
			flex: 1 1 0;
		}	
	}
	&link{
		position: relative;
		display: block;
		color: @black-ac;
		border-bottom: 2px solid fadeout(@success, 100%);
		padding: 13px;
		.tabs__item.active &{
			color: @success;
			border-bottom-color: @success;
		}
		
	}
	&pane{
		display: none;
		&.active{
			display: block;
		}
		&.is--page{
			&-profile{
				.media-breakpoint-up(@md; {
					display: block;
				});
			}
		}
	}
}